<!DOCTYPE html>
<html>
<head>
  <title>V3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="bgImage"><%= image_tag('bg.png') %></div>
	<div class="container theme-showcase" role="main">
		<%= render 'layouts/header' %>
		<%= yield %>
	</div>

</body>
</html>
